# Build Files
! runbuild.bat
__pycache__
build
dist
adoberpc.spec
adoberpc_updater.spec

# Design Files
rpc_ico
ico_design
design sample

# For Web
latest
adoberpc_ver.json

# Etc
installer
log.log
updater.log